{% extends "base.html" %}

{% block title %}{{ config.project.name }} -- {{ branch.name }}{% endblock %}

{% block content %}
<h2>Branch: {{ branch.name }}</h2>

<h3>Workflow</h3>
{{ branch.Makefile.html | safe }}

<h3>Console</h3>
{% if 'process' in branch %}
<p class="alert alert-info">Action "{{ branch.action }}" started at <span class="date">{{ branch.start_time.isoformat() }}</span> (<span class="since">{{ branch.start_time.isoformat() }}</span>)</p>
<pre><code class="shell">$ {{ branch.command }}</code></pre>
<pre><code class="shell">{{ branch.console }}</code></pre>
  {% if branch.cancelled %}
  <p class="alert alert-warning">Process cancelled</p>
  {% elif branch.process.returncode == 0 %}
  <p class="alert alert-success">Success</p>
  {% elif branch.process.returncode %}
  <p class="alert alert-danger">ERROR: Exit code {{ branch.process.returncode }}</p>
  {% else %}
  <p class="alert alert-warning">
  Proceses still running after {{ branch.run_time }} seconds.
    <a class="btn btn-success btn-sm" href="">Refresh</a>
    <a class="btn btn-danger btn-sm" href="?action=cancel">Cancel</a>
  </p>
  {% endif %}
{% else %}
<p>Press a button above to execute an action.</p>
{% endif %}
{% endblock %}
